[submodule "rust-api"]
	path = rust-api
	url = https://github.com/DrunkenToast/rust-api
[submodule "nextjs-frontend"]
	path = nextjs-frontend
	url = https://github.com/DrunkenToast/nextjs-frontend
[submodule "rust-arduino"]
	path = rust-arduino
	url = https://github.com/DrunkenToast/rust-arduino
